*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #222;
}
